@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-myBgColor font-montserrat text-white;
}

.button {
  @apply text-myBgColor px-8 py-2 bg-myPrimary hover:bg-myPrimaryHover font-semibold rounded-md;
  /* text-black px-8 py-2 my-2 bg-myPrimary font-semibold rounded-md */
}

.input-field {
  @apply text-pink-50 p-2 rounded-md bg-transparent border-2 border-gray-500 hover:border-gray-100 focus:border-myPrimary outline-none;
}

.bg-hero {
  background-color: rgba(135, 34, 57, 0.4);
}

.bg-wavyline {
  background-image: url("./assets/svg/background/wavy-lines.png");
  background-size: auto;
  /* background-repeat: no-repeat; */
  background-position: bottom;
}

/* Custom styles for Swiper pagination */
.swiper-pagination-bullet {
  @apply bg-myPrimary;
}

.swiper-pagination-bullet-active {
  @apply bg-myPrimary;
}

/* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  @apply text-myPrimaryHover;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply text-myPrimary;
}

.project-lg {
  @apply lg:bg-myBgColor lg:p-4 lg:h-[70vh] lg:relative;
}
