@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-lightBgColor font-montserrat text-myBgColor dark:bg-myBgColor dark:text-lightBgColor;
}

.button {
  @apply text-lightBgColor px-8 py-2 bg-lightPrimary hover:bg-lightPrimaryHover font-semibold rounded-md dark:text-myBgColor dark:bg-myPrimary dark:hover:bg-myPrimaryHover;
}

.input-field {
  @apply dark:text-lightBgColor p-2 rounded-md bg-transparent border-2 border-gray-300 hover:border-gray-400 focus:border-lightPrimary dark:focus:border-myPrimary outline-none;
}

.bg-hero {
  @apply bg-lightSecondary dark:bg-mySecondary bg-opacity-40;
}

.bg-wavyline {
  background-image: url("./assets/images/background/wavy-lines.webp");
  background-size: auto;
  /* background-repeat: no-repeat; */
  background-position: bottom;
}

/* Custom styles for Swiper pagination */
.swiper-pagination-bullet {
  @apply bg-lightPrimary dark:bg-myPrimary;
}

.swiper-pagination-bullet-active {
  @apply bg-lightPrimary dark:bg-myPrimary;
}

/* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  @apply text-lightPrimaryHover dark:text-myPrimaryHover;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply text-lightPrimary dark:text-myPrimary;
}

.project-lg {
  @apply lg:bg-lightBgColor lg:p-4 lg:h-[70vh] lg:relative dark:lg:bg-myBgColor;
}
